@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.ttf") format("truetype");
}
header {
  width: 100%;
  margin: 35px 0;
  margin-right: 20%;
  display: grid;
  grid-template-areas: "logo nav-tags title";
  grid-template-columns: 15% 60% 25%;
  justify-content: space-around;
  align-items: center;
}
header .logo-container {
  width: 200px;
  height: 50px;
  grid-area: logo;
}
header .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-nav {
  padding: 0 20px;
  grid-area: nav-tags;
}
.home-nav #tags {
  flex-wrap: wrap;
  padding: 0 20px;
  margin: unset;
}
.home-nav #tags .active-tag,
.home-nav #tags .header-filter:hover {
  border: 0.5px solid #901c1c;
  background-color: #901c1c;
  color: #fff;
  cursor: pointer;
}

.header-tags,
.card-taglist {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.header-tags .filter,
.card-taglist .filter {
  color: #901c1c;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0 8px;
  font-weight: 600;
  font-size: 15px;
  margin: 3px;
}

body {
  font-family: "DMSans";
  width: 95%;
  margin: auto;
}

.main {
  width: 100%;
}
.main .main-title {
  color: #901c1c;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: title;
}

#photographers {
  margin-top: 50px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  grid-gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
}
#photographers a {
  text-decoration: none;
}
#photographers p {
  text-align: center;
  margin: 5px 0;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.card .card-image {
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}
.card .card-name {
  text-align: center;
  font-size: 36px;
  color: #d3573c;
  line-height: 47px;
  margin: 5px;
}
.card .card-location {
  color: #901c1c;
  font-size: 18px;
  line-height: 17px;
}
.card .card-tagline {
  font-size: 18px;
  line-height: 20px;
}
.card .card-price {
  color: #757575;
  font-size: 13px;
  line-height: 13px;
}

#profile {
  display: grid;
  grid-template-areas: "profile contact-btn profile-image";
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fafafa;
  border-radius: 5px;
  width: 95%;
  margin: auto;
}
#profile .card {
  grid-area: profile;
  width: 150%;
  align-items: flex-start;
}
#profile .card h3 {
  font-size: 45px;
}
#profile .card p {
  margin: 15px 5px;
}
#profile .contact-btn {
  grid-area: contact-btn;
  background-color: #901c1c;
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  height: 25%;
  width: 50%;
  margin-left: 55px;
  margin-top: 40px;
}
#profile .profile-image {
  grid-area: profile-image;
  overflow: hidden;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: auto;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
}
.sort .sort-label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 35px;
}
.sort .sort-list {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
  border-radius: 5px;
  border: solid 1px #901c1c;
}
.sort .sort-criteria {
  border: none;
  background-color: #901c1c;
  padding: 20px;
  color: #fff;
  width: 170px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.dropdown-content button::before {
  content: "";
  height: 2px;
  width: 85%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 13px;
}

#galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  flex-direction: row;
  flex-wrap: wrap;
}
#galery .media-card {
  width: 100%;
}
#galery img,
#galery video {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#galery .media-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #901c1c;
}
#galery .prices {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#galery .liker {
  background-color: transparent;
  border: none;
  color: #901c1c;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  #photographers {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
  }

  header {
    height: 150px;
    grid-template-areas: "logo title" "nav-tags nav-tags";
    grid-template-columns: 1fr 1fr;
  }

  .home-nav #tags {
    padding: 0;
  }

  .main .main-title {
    top: 40px;
  }
}
@media screen and (max-width: 810px) {
  #photographers {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .home-nav {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  header .logo-container {
    width: 200px;
    height: 60px;
  }

  .main .main-title {
    font-size: 25px;
  }
}
@media screen and (max-width: 490px) {
  header .logo-container {
    width: 150px;
    height: 50px;
  }

  .main .main-title {
    top: 50px;
    font-size: 15px;
    right: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
