#profile {
  display: grid;
  grid-template-areas: "profile contact-btn profile-image";
  grid-template-columns: auto 1fr auto;
  background-color: #fafafa;
  border-radius: 5px;
  width: 95%;
  margin: auto;
  .card {
    grid-area: profile;
    align-items: flex-start;
    h3 {
      font-size: 45px;
      text-align: start;
    }
    p {
      margin: 15px 5px;
    }
    .tag {
      text-decoration: none;
    }
  }
  .profile-image {
    grid-area: profile-image;
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-top: 40px;
  }
}

.contact-btn {
  grid-area: contact-btn;
  background-color: $primary;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  height: 60px;
  width: 130px;
  margin-left: 100px;
  margin-top: 60px;
  z-index: 2;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort {
  display: flex;
  flex-direction: row;
  margin: 50px 0 20px 0;
  position: relative;
  .sort-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 35px;
    z-index: 3;
  }
  .sort-li {
    position: relative;
  }
  .sort-list {
    display: none;
    list-style-type: none;
    font-weight: bold;
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    left: 104px;
    padding: unset;
    margin: unset;
    z-index: 3;
  }
  .sort-icon {
    width: 16px;
    height: 11px;
  }
}

.sort-criteria,
.current-sort {
  border: none;
  background-color: $primary;
  padding: 20px;
  color: #fff;
  width: 170px;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.current-sort {
  border-radius: 5px;
  height: 55px;
  display: flex;
}

.sort-li:not(:first-child)::before {
  content: "";
  height: 2px;
  width: 90%;
  background-color: white;
  position: absolute;
  left: 10px;
  z-index: 1;
}

#galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  .media-card {
    width: 100%;
  }
  img,
  video {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .media-legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 60%;
      margin: unset;
    }
  }
  .media-info,
  .like-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .like-btn {
    background-color: transparent;
    border: none;
    color: $primary;
    font-size: 20px;
    cursor: pointer;
    .heart {
      margin-left: 5px;
    }
  }
}

/* Contact Modal */

.bground {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;

  .content {
    margin: 70px auto;
    width: 100%;
    max-width: 600px;
    animation-name: modalopen;
    animation-duration: 1s;
    background: $tertiary;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
  }

  #modal-title {
    padding-left: 38px;
    font-size: 30px;
  }

  .modal-body {
    padding: 25px;
  }
}

#form {
  margin-left: 20px;

  .formData {
    margin-bottom: 15px;
  }

  input,
  textarea {
    padding: 8px;
    border: none;
    outline: none;
  }

  label {
    color: $dark-color;
    font-size: 25px;
    font-weight: bold;
  }

  .text-control {
    margin: auto;
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
  }

  .btn-submit {
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: $primary;
    padding: 12px 82px;
    cursor: pointer;
    border: transparent;
    padding: 15px;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 25px;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}

#success {
  display: none;
}

.success-text {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: $dark-color;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 10;
  color: $primary;
  display: block;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  opacity: 0;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

/* slider */

#slider {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  justify-content: center;
  align-items: center;
  overflow: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  display: none;

  .slider-btn {
    position: absolute;
    z-index: 10;
    width: 35px;
    height: 25px;
    opacity: 1;
    cursor: pointer;
    background-color: transparent;
    border: none;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .close-slider {
    right: 0;
    top: 10%;
  }

  #next {
    right: 0;
    top: 50%;
  }

  #back {
    left: 0;
    top: 50%;
  }
}

.slider-content {
  width: 80%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  .slide {
    margin: auto;
    position: relative;
    img,
    video {
      width: 100vw;
      max-height: 80vh;
      object-fit: cover;
    }
    .media-text {
      color: $primary;
      margin: 0;
    }
  }
}

#more-info {
  width: 100%;
  margin: auto;
  height: 70px;
  position: relative;
}

.more-info {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 2.3%;
  background-color: $tertiary;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 230px;
  font-weight: bold;
  z-index: 5;
}

/* interactive buttons hover */

.interactive-btn:hover {
  background-color: $tertiary;
  color: black;
}

/* animation modal */

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
