#profile {
  display: grid;
  grid-template-areas: "profile contact-btn profile-image";
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fafafa;
  border-radius: 5px;
  width: 95%;
  margin: auto;
  .card {
    grid-area: profile;
    width: 150%;
    align-items: flex-start;
    h3 {
      font-size: 45px;
    }
    p {
      margin: 15px 5px;
    }
  }

  .contact-btn {
    grid-area: contact-btn;
    background-color: $primary;
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    height: 25%;
    width: 50%;
    margin-left: 55px;
    margin-top: 40px;
  }
  .profile-image {
    grid-area: profile-image;
    overflow: hidden;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: auto;
  }
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sort {
  display: flex;
  flex-direction: row;
  margin: 50px 0;
  .sort-label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 35px;
  }
  .sort-list {
    display: grid;
    list-style-type: none;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    padding: unset;
    z-index: 3;
  }
  .sort-li {
    position: relative;
  }
  .sort-criteria {
    border: none;
    background-color: $primary;
    padding: 20px;
    color: #fff;
    width: 170px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
  }
}

.sort-li:not(:first-child)::before {
  content: "";
  height: 2px;
  width: 90%;
  background-color: white;
  position: absolute;
  left: 10px;
  z-index: 1;
}

#galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  flex-direction: row;
  flex-wrap: wrap;
  .media-card {
    width: 100%;
  }
  img,
  video {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .media-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $primary;
    h4 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 60%;
      margin: unset;
    }
  }
  .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .liker {
    background-color: transparent;
    border: none;
    color: $primary;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

.bground {
  display: none;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);

  .content {
    margin: 70px auto;
    width: 100%;
    max-width: 600px;
    animation-name: modalopen;
    animation-duration: 1s;
    background: $tertiary;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
  }

  .modal-body {
    padding: 25px;
  }
}

#form {
  margin-left: 20px;

  .formData {
    margin-bottom: 15px;
  }

  input,
  textarea {
    padding: 8px;
    border: none;
    outline: none;
  }

  label {
    color: $dark-color;
    font-size: 20px;
    font-weight: bold;
  }

  .text-control {
    margin: auto;
    padding: 12px;
    width: 90%;
    border-radius: 5px;
    font-size: 20px;
  }

  .btn-submit {
    border-radius: 5px;
    font-size: 1rem;
    color: #fff;
    background-color: $primary;
    padding: 12px 82px;
    cursor: pointer;
    border: transparent;
    padding: 15px;
  }
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 25px;
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  border: none;
  img {
    width: 100%;
    height: 100%;
  }
}

/* Modal success */

#success {
  display: none;
}

.success-text {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: $dark-color;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 10;
  color: $primary;
  display: block;
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  opacity: 0;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}

// animation modal

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
