@media screen and (max-width: 1024px) {
  #photographers,
  #galery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 45px;
  }
  .main-header {
    height: 150px;
    grid-template-areas:
      "logo title"
      "nav-tags nav-tags";
    grid-template-columns: 1fr 1fr;
  }
  .home-nav #tags {
    padding: 0;
  }
  #main {
    .main-title {
      top: 40px;
    }
    .scroll {
      left: 42%;
    }
  }
}

@media screen and (max-width: 810px) {
  #photographers,
  #galery {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .home-nav {
    padding: 0;
  }
  #main .scroll {
    left: 38%;
  }

  .sort {
    display: none;
  }
  #profile .contact-btn {
    position: fixed;
    height: 35px;
    width: 145px;
    bottom: 10px;
    margin: 0;
    left: 42%;
  }
  .more-info {
    position: absolute;
    left: 35%;
  }
}

@media screen and (max-width: 700px) {
  .main-header .logo-container {
    width: 200px;
    height: 60px;
  }
  #main {
    .main-title {
      font-size: 25px;
    }
    .scroll {
      left: 35%;
    }
  }
  #profile .profile-image {
    width: 130px;
    height: 130px;
  }
}

@media screen and (max-width: 490px) {
  .main-header .logo-container {
    width: 150px;
    height: 50px;
  }
  #main {
    .main-title {
      top: 50px;
      font-size: 15px;
      right: 10px;
    }
    .scroll {
      left: 29%;
    }
  }
  #photographers {
    grid-template-columns: 100%;
  }
  .header-tags .filter,
  .card-taglist .filter {
    font-size: 12px;
  }

  #galery {
    grid-template-columns: 100%;
    img,
    video {
      border-radius: 5px;
    }
  }
  #profile {
    .card-taglist {
      flex-wrap: wrap;
    }
    .contact-btn {
      left: 33%;
    }
  }

  .more-info {
    position: absolute;
    left: 20%;
  }

  #slider .close-slider {
    top: 25%;
  }
}

@media screen and (max-width: 320px) {
  #main .scroll {
    left: 23%;
  }

  #profile .contact-btn {
    left: 28%;
  }
  .more-info {
    position: absolute;
    left: 12%;
  }

  #slider .close-slider {
    top: 30%;
  }
}
